@import "variables.css";
@import "body.css";
@import "navbar.css";
@import "header.css";
@import "about.css";
@import "projects.css";
@import "contact.css";
@import "footer.css";
@import "skills.css";
@import "button.css";

section:not(.hero) {
  padding: 80px 0;
}

section h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
  font-family: "Playfair Display", serif;
}

.section-break {
  position: relative;
  width: 90vw;
  left: 5vw;
  margin: 0;
  height: 3px;
  background-color: rgb(240, 235, 235);
}

section p {
  font-family: "Raleway", sans-serif;
}

hr {
  color: #dc3545;
}

body {
  background-color: #fafafa;
}

html {
  scroll-behavior: smooth;
}

#scroll-top-button {
  position: fixed;
  bottom: 18px;
  z-index: 80;
  left: 90vw;
}

#scroll-top-button:hover {
  color: rgba(196, 192, 192, 0.9);
}
