
#title {
    color: black;
    margin-bottom: 10px;
}

#projects {
    align-items: center;
    padding: 20px;
}

.tile.is-child:hover {
    background-color: aliceblue;
    opacity: 0.5;
}

.head {
    font-size: 30px;
    text-align: center;
}

#boxes {
    margin: 20px;
    margin-bottom: 0;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120%;
    width: 120%;
    opacity: 1;
    transition: .8s ease;
    background-color: aliceblue;
}

.text {
    transition: .8s ease;
    color: #080808;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.project-info {
    display: flex;
    border: none;
    justify-content: space-around; 
}

.tile.is-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile.is-child {
    width: 100%;
}

button.button {
    border-radius: 50%;
    margin: 10px;
}

#portfolio h3 {
    font-size: 18px;
    margin-bottom: 8px;
    font-family: 'Raleway', sans-serif;
}